*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#slika{
    height: 50px;
    width:50px;
    border-color: transparent;
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50px;
    transition: 0.5s;
}
#slika:hover{
    background-color: #a3e9d4;
    box-shadow: 0 15px 25px white;/*#a3e9d499 ;*/
    justify-content: center;
    height: 60px;
    width: 60px;
}
#okvirSlika{
    display: flex;
}
#opcije{
    width:80%;
    display: flex;
    justify-content: space-evenly;
}
#pocetna{
    transition:0.5s;
}
#opcije button{
    padding:5px 5px 5px 5px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50px;
    transition:0.5s;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color:white;
    font-weight: 500px;
}
#opcije button:hover,#opcije button:focus{
    font-size: 130%;
    color:black;
    font-weight: normal;
}
#pocetna:hover,#pocetna:focus{
    background-color:#abff2e;
    box-shadow:0 15px 25px #abff2e99;
}
#korpa:hover,#korpa:focus{
    background-color:#fffc2e;
    box-shadow:0 15px 25px #fffc2e99;
}
#proizvodi:hover,#proizvodi:focus{
    background-color:#2ef8ff;
    box-shadow:0 15px 25px #2ef8ff99;
}
#kompanija:hover,#kompanija:focus{
    background-color:#5381ff;
    box-shadow:0 15px 25px #5381ff99;
}
#kontakt:hover,#kontakt:focus{
    background-color:#ff62d8;
    box-shadow:0 15px 25px #ff62d899;
}
#nalog:hover,#nalog:focus{
    background-color:#ff8818;
    box-shadow:0 15px 25px #ff881899;
}
#menu{
    display: flex;
    justify-content: space-between;
    background-color: rgba(87, 66, 66,0.90);
    height: 80px;
    position: fixed;
    width: 100%;
    top:0px;
    z-index: 200;

}
#menu li{
    list-style: none;
}
#korisnickiPodaci{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:80px;
    right: 30px;
    border: 2px solid black;
    width: 200px;
    text-align: center;
    display: none;
    background-image: linear-gradient(white,#4affc9);
    box-shadow: 0 15px 25px #4affc999 ;
    border-radius: 20px;
}
#korisnickiPodaci li{
    text-align:left;
    margin-left: 20px;
}
#stranicaPocetna,#stranicaProizvodi,#stranicaKompanija,#stranicaKontakt{
    display: none;
}
#stranicaKorpa{
    display: none;
}
body{
    background-image: url("https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1153&q=80");
    background-repeat: no-repeat;
    background-size: 100%,100%;
    background-attachment: fixed;
}
.polja{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    
    width:80%;
}
.polja div{
    display: flex;
}
.naslov{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.7);
}
.opis{
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 50px;
}
.slika1{
    width: 40%;
    border-radius: 30px;
}
#pasus1{
    font-size: 30px;
    background-color: rgba(87, 66, 66,0.90);
    height:200px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;
    color: white;
}
#pasus2{
    font-size: 30px;
    background-color: rgba(92, 143, 61, 0.9);
    height:200px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;

}
#pasus3{
    font-size: 30px;
    background-color: rgba(255, 151, 53, 0.9);
    height:200px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;
}
#pasus4{
    font-size: 30px;
    background-color: rgba(255, 53, 53, 0.9);
    height:200px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;
    color: white;
}
#korpa1{
    display: flex;
    flex-direction: column;
    background-color: rgba(87, 66, 66,0.90);
    border-radius: 50px;
}
#korpa1 div{
    display: flex;
    height: fit-content;
}
.podaci div{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}
.podaci div p{
    display: flex;
}
.podaci{
    display: flex;
    justify-content: space-evenly;
}
.podaci img{
    height: 80%;
    width: 30%;
}
.podaci img , .teze , .opisIDugme{
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.podaci p{
    margin-top: auto;
    margin-bottom: auto;
}
.proizvod{
    background-image: linear-gradient(rgba(255, 185, 55, 0.8),rgba(50, 255, 118, 0.8));
    list-style: none;
}
.teze p{
    height: 90px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: larger;
}
.opisIDugme button{
    margin-top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 15px;
    background-color: transparent;
    border:none;
    background-color: lightblue;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.5s;
}
.opisIDugme button:hover{
    background-color: #4169e1;
    box-shadow: 0 15px 25px #4169e199 ;
    color: white;
}
.opisIDugme button:active{
    color: white;
    background-color: #0000ff;
    box-shadow: 0 15px 25px #0000ff99 ;
}
.opisIDugme p{
    margin-top: 50px;
    font-size: 20px;
}
#korpa1 h2{
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    color:  white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.proizvod h3{
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#korpa1 ul{
    margin-bottom: 40px;
}
.podaci img{
    margin-top: auto;
    margin-bottom: auto;
}
#korpa1 li{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}
/*.red , .proizvod1,.podaci1{
    border:2px solid black;
}*/
.red{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.7);

}
.proizvod1{
    width:20%;
    height:500px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 15px rgba(0, 0, 0,0.5);
    transition:all 0.5s;
}
.proizvod1:hover{
    color: white;
    background-color: royalblue;
}
.proizvod1 img{
    height:auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 15px;
    margin-bottom: auto;
}
.podaci1{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 0px;
}
.podaci1 h1, .podaci1 p ,.podaci h3,.podaci1 button{
    margin-bottom: 10px;
    margin-top: 10px;
}
.podaci1 button{
    border:none;
    background-color: white;
    transition:all 0.5s;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    bottom: 0px;
}
.podaci1 button:hover{
    background-color: lightblue;
}
.podaci1 button:active{
    background-color: darkblue;
    color:white;
}
#opisKompanije{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,0.7);
    border-radius: 15px;
    margin-bottom: 50px;
}
#opisKompanije h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
#opisKompanije div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#opisKompanije div img, #opisKompanije div p{
    margin-top: auto;
    margin-bottom: auto;
}
#opisKompanije div p{
    width:30%;
    margin-right: 10%;
}
#slika11{
    height: 800px;
    width: 400px;
    margin-left: 10%;
}
#kompanijaInfo{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 30px;
}
#telefon,#telefon div{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
#telefon img{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#telefon,#lokacija{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#telefon div, #telefon div h1{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: left;
}
#lokacija img{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#lokacija div , #lokacija img{
    margin-top: auto;
    margin-bottom: auto;
}
#lokacija div{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
}
#naslovLokacija{
    text-align: center;
    margin-bottom: 30px;
}
#telefon div{
    margin-bottom: 20px;
}
#stranicaPocetna{
    display: flex;
    flex-direction: column;
}
#stranicaNalog{
    display: none;
}
.polja{
    flex-direction: column;
}