*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#slika{
    height: 50px;
    width:50px;
    border-color: transparent;
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50px;
    transition: 0.5s;
}
#slika:hover{
    border:2px solid black;
    background-color: #a3e9d4;
    box-shadow: 0 15px 25px #a3e9d499 ;
    justify-content: center;
    height: 60px;
    width: 60px;
}
#okvirSlika{
    display: flex;
}
#opcije{
    width:80%;
    display: flex;
    justify-content: space-evenly;
}
#pocetna{
    transition:0.5s;
}
#opcije button{
    padding:5px 5px 5px 5px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50px;
    transition:0.5s;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color:white;
    font-weight: 500px;
}
#opcije button:hover,#opcije button:focus{
    font-size: 130%;
    color:black;
    font-weight: normal;
}
#pocetna:hover,#pocetna:focus{
    background-color:#abff2e;
    box-shadow:0 15px 25px #abff2e99;
}
#korpa:hover,#korpa:focus{
    background-color:#fffc2e;
    box-shadow:0 15px 25px #fffc2e99;
}
#proizvodi:hover,#proizvodi:focus{
    background-color:#2ef8ff;
    box-shadow:0 15px 25px #2ef8ff99;
}
#kompanija:hover,#kompanija:focus{
    background-color:#5381ff;
    box-shadow:0 15px 25px #5381ff99;
}
#kontakt:hover,#kontakt:focus{
    background-color:#ff62d8;
    box-shadow:0 15px 25px #ff62d899;
}
#menu{
    display: flex;
    border:2px solid black;
    justify-content: space-between;
    background-color: rgba(87, 66, 66,0.90);
    height: 80px;

}
#menu li{
    list-style: none;
}
#korisnickiPodaci{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:80px;
    right: 30px;
    border: 2px solid black;
    width: 200px;
    text-align: center;
    display: none;
    background-color: #4affc9;
    box-shadow: 0 15px 25px #4affc999 ;
    border-radius: 20px;
}
#korisnickiPodaci li{
    text-align:left;
    margin-left: 20px;
}
#stranicaPocetna,#stranicaProizvodi,#stranicaKompanija,#stranicaKontakt{
    display: none;
}
#stranicaKorpa{
    display: none;
}
body{
    background-image: url("https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1153&q=80");
    background-size:100%,100%;
    background-repeat: no-repeat;
}
.polja{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    
    width:80%;
}
.polja div{
    display: flex;
}
.naslov{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.7);
}
.opis{
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 50px;
}
.slika1{
    width: 40%;
    border-radius: 30px;
}
#pasus1{
    font-size: 30px;
    background-color: rgba(87, 66, 66,0.90);
    height:200px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;
    color: white;
}
#pasus2{
    font-size: 30px;
    background-color: rgba(92, 143, 61, 0.9);
    height:200px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;

}
#pasus3{
    font-size: 30px;
    background-color: rgba(255, 151, 53, 0.9);
    height:200px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;
}
#pasus4{
    font-size: 30px;
    background-color: rgba(255, 53, 53, 0.9);
    height:200px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;
    color: white;
}