*{
    box-sizing: border-box;
    margin:0;
    border:0;
}

#Naslov{
    text-align: center;
    margin-top: 125px;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.30);
    cursor: default;
}
#dugmici{
    display: flex;
    justify-content: space-around;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 100px;
}
#dugmici button{
    height:100px;
    width:200px;
    font-size: 130%;
    border-radius: 50px;
    color:white;
    background-color: tomato;
    transition:font-size 0.5s,color 0.5s,width 0.5s,background-color 1.2s;
    height:100%;
}
#dugmici button:hover{
    width: 30%;
    background-color: greenyellow;
    color:black;
    font-size: 180%;
}
#slika{
    width:100%;
    position:fixed;
    z-index: -1;
    margin-top: -125px;
}
.forma{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.80);
    bottom: auto;
    top:200px;
    left: 500px;
    right: 500px;
    color:white;
    height: 40%;
    border-radius: 50px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Old Standard TT', serif;
    display: flex;
    flex-direction: column;
}
.forma div{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.forma label{
    text-align: center;
    margin-top: 5px;
}
.forma input{
    border-radius: 50px;
    text-align: center;
    margin-bottom: 5px;
}
.forma h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.dugmici{
    height:70px;
    justify-content: space-evenly;
    margin-top: 20px;
}
.dugmici button{
    width:60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    transition:color 0.8s,background-color 0.8s;
    background-color: white;
}
.dugmici button:hover{
    background-color: tomato;
    color:white;
}
#prijava{
    display: none;
}
#registracija{
    height: 450px;
    display: none;
}
#prijava{
    height: 300px;
}